body{
    background-image: linear-gradient(to right,	rgb(180, 140, 100), rgba(0, 0, 0, 0)), url('pottery.jpg');
    background-size:cover;
    color:#3a302a;
    font-size: xx-large;
    font-family: "Source Sans 3", sans-serif;
    font-weight:500;
    padding: auto;
}
.content{
 text-align:left;
 margin:10px 20px;
}
h1{
    font-family: "Cinzel", serif;
    color:#56280e;
}
#click-btn{
    background-color: #C39C61;
    color:#5f2e12;
    height:50px;
    font-size: large;
    width:180px;
    font-family: "Source Sans 3",serif;
    font-weight: bolder;
    border:none;
    box-shadow: 5px -5px  5px #6D3414;
    margin:40px 0;
}
#line{
    text-decoration:underline #6D3414 4px;
    text-underline-offset:4px;
    
}